<div class="row">
    <div class="col-sm-12 col-md-8">
    	<h2><a href="/users/username/{{username}}">{{ username }}</a></h2>
        <!--<p><a href="/users/{{_id}}">{{ _id }}</a></p>-->
    </div>
</div>
