<div class="advancedSearchDisplay">
<h1 class="page-header">Advanced Item Search</h1>
<form method="post" action="/items/advanced" id="form">
   <div class="form-group">
    <label for="keywords">Keywords</label>
    <input type="text" class="form-control" placeholder="Keywords" name="keywords" id="keywords">
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select name="category" class="form-control" id="category">
        <option value="">All</option>
        <option value="appliances">Appliances</option>
        <option value="arts_crafts">Arts & Crafts</option>
        <option value="automotive">Automotive</option>
        <option value="books">Books</option>
        <option value="clothing">Clothing</option>
        <option value="electronics">Electronics</option>
        <option value="furniture">Furniture</option>
        <option value="home">Home</option>
        <option value="movies">Movies</option>
        <option value="music">Music</option>
        <option value="office">Office</option>
        <option value="outdoors">Outdoors</option>
        <option value="pets">Pets</option>
        <option value="shoes">Shoes</option>
        <option value="sports">Sports</option>
        <option value="tools">Tools</option>
        <option value="toys_games">Toys & Games</option>
        <option value="video_games">Video Games</option>
    </select>
  </div>
   <div class="form-group">
    <label for="price">Price Range</label>
    <input type="text" class="form-control" placeholder="Min Price" name="minPrice" id="price">
    <input type="text" class="form-control" placeholder="Max Price" name="maxPrice" id="price">
  </div>
  <div class="form-group">
    <label for="paymentmethod">Payment Method</label>
    <select name="paymentmethod" class="form-control" id="paymentmethod">
        <option value="">All</option>
        <option value="cash">Cash</option>
        <option value="check">Check</option>
    </select>
  </div>
  <div class="form-group">
    <label for="zip">Zip Code</label>
    <input type="text" class="form-control" placeholder="Zip Code" name="zipcode" id="zip">
  </div>
  <div class="form-group">
    <label for="time">Minimum Borrow Time (in Days)</label>
    <input type="text" class="form-control" placeholder="Num Days" name="time" id="time">
  </div>
  <div class="form-group">
    <label for="status">Availability Status</label>
    <input type="text" class="form-control" placeholder="Availability" name="availability" id="status">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
