<div id="LeftPanel" style="width: 30%; height: 100%; float: left;">
    <h1>Log In</h1>
    <input type="button" onclick="location.href='/login';" value="Login" />
    <input type="button" onclick="location.href='/newaccount';" value="New Account" />
</div>
<div id="RightPanel" style="width: 70%; height: 100%; text-align: left; vertical-align: top; float: right;">
    <h1>Browse Popular Categories</h1>
</div>
