<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ihavethat</title>
    <link rel="stylesheet" href="/public/css/main.css">

</head>

<body>
    <header>
        <img src="/public/images/header.png" alt="I have that page header">
    </header>

    <nav>
        <ul class="nav">
            <div class="navItems">
                <li id="home">
                    <a href="/"><img src="/public/images/logo.png" alt="I have that small logo"></a>
                </li>
                <li>
                <form class="navbar-form navbar-left" method="post" action="/items/advanced">
                    <div class="form-group">
                        <input type="text" class="form-control" name="keywords" id="navSearchBar" placeholder="Search and Start Borrowing">
                    </div>
                    <button type="submit" class="btn btn-default">Go</button>
                </form>
            </li>
                <li id="navAdvancedSearch">
                    <a href="/items/advanced">Advanced Item Search</a>
                </li>
            </div>
            <div class="navAccounts">
                <li id="navBrowseUsers">
                    <a href="/users">Browse Users</a>
                </li>
                <li id="navMyAccount">
                    <a href="/account/myaccount">My Account</a>
                </li>
                {{#if profile}}
                  <li id="navLogIn">
                      <a href="/account/logout">Logout</a>
                  </li>
                {{else}}
                  <li id="navLogIn">
                      <a href="/account/login">Login</a>
                  </li>
                {{/if}}
            </div>
        </ul>
    </nav>

    <main>
        {{{body}}}
    </main>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
</body>

</html>
