<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ihavethat</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <nav>
        <img src="/public/images/header.png" alt="I have that page header">
        <ul class="nav">
            <li id="home">
                <a href="/"><img src="/public/images/logo.png" alt="I have that small logo"></a>
            </li>
            <!--<li id="Categories">
                <a href="#">Categories</a>
                <ul class="subnav">
                    <li><a href="#">Electronics</a></li>
                    <li><a href="#">Home Goods</a></li>
                    <li><a href="#">Etc</a></li>
                    <li><a href="#">Etc</a></li>
                </ul>
            </li>-->
            <li id="search">
                <form action="" method="get">
                    <input type="text" name="search_text" id="search_text" placeholder="Search and Start Borrowing" />
                    <input type="button" name="search_button" id="search_button" placeholder="Go"></a>
                </form>
            </li>
            <li id="Advanced">
                <a href="/items/advanced">Advanced Search</a>
            </li>
            <li id="Account">
                <a href="/users/myidnum">My Account</a>
            </li>
        </ul>
    </nav>
    <main>
        {{{body}}}
    </main>
</body>

</html>
