body {
    background: #FFF;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 15pt;
}

main {
    max-width: 95%;
    margin: auto;
}


header{
    background-color: #333;
    text-align: center;
    min-width: 800px;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-bottom: 5px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.20rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.05rem;
}

p {
    font-size: 1.25rem;
    line-height: 2;
}

.post {
    width: 75%;
    border-bottom: 1px dashed #333;
}

/*Top Navigation Bar*/
nav{
    background-color: #333;
    text-align: center;
    min-width: 800px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a, .dropbtn {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
}

nav li a:hover, .dropdown:hover .dropbtn {
    background-color: #fff;
}




/*NAV BAR STYLING*/
#navSearchBar{
    width:100%;
    min-width: 250px;
}
.navAccounts{
    float:right;
}
.navItems{
    float:left;
    min-width: 500px;
}
label[for="navSearchBar"]
{
    display:none;
}

/*HOMEPAGE STYLING*/
#LeftPanel{
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    padding-right: 20px;
}
#RightPanel{
    width: 70%;
    height: 100%;
    text-align: left;
    vertical-align: top;
    float: right;
    padding-left: 20px;
    border-left: 2px dotted;
}
.catIcons{
    height: 150px;
    width: 150px;
}
.popCatTable{
	display: table;
	width: 100%;
}
.popCatTableRow {
	display: table-row;
}
.popCatTableCell{
	/*border: 1px solid #000;*/
    text-align: center;
	display: table-cell;
	padding: 20px 20px;
}
.popCatTableBody {
	display: table-row-group;
}
/*ADVANCED SEARCH PAGE STYLING*/
.advancedSearchDisplay{
    max-width: 500px;
    margin: auto;
    padding-bottom: 25px;
}
/*LOGIN PAGE STYLING*/
.loginPage{
    max-width: 500px;
    margin: auto;
    padding-bottom: 25px;
}
/*REGISTRATION PAGE STYLING*/
.registerPage{
    max-width: 500px;
    margin: auto;
    padding-bottom: 25px;
}
/*CREATE NEW ITEM PAGE STYLING*/
.createNewItemDisplay{
    max-width: 850px;
    margin: auto;
    padding-bottom: 25px;
}
.editItemDisplay{
    max-width: 500px;
    margin: auto;
    padding-bottom: 25px;
}

/*EDIT ACCOUNT PAGE*/
.editAccountDisplay{
    max-width: 500px;
    margin: auto;
    padding-bottom: 25px;
}
.btn-danger1{
    color: #ffffff;
    background-color: #d4423c;
}

/*ITEM DISPLAY PAGE STYLING*/
.itemImage{
    height: 150px;
    width: 150px;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
#singleItem{
    padding-bottom: 25px;
}
#rental{
    max-width: 500px;
    margin: auto;
}

/* Quick Links styling on home page */
#quick-links h5 {
    font-size: 3em;
}

#quick-links a {
    display: block;
    font-size: 18px;
}

/* Welcome message styling */
#welcome {
    margin-bottom: 50px;
}
