body {
    margin:0;
    padding:0;
    line-height: 2em;
    font: 13px Georgia, serif;
    color: #000;
}
#header, nav, .nav, .navItems, #home, #navSearchBar, .navAccounts, #navAdvancedSearch, #navBrowseUsers, #navFindUsers {
    display:none;
}

.advancedSearchDisplay, .loginPage, .registerPage, .row, .createNewItemDisplay, .editAccountDisplay, .col-sm-12, .itemGrid{
  page-break-inside: avoid;
}
